.dishes {
    padding: 100px 0;
    &__text {
        color: $text-color3;
        margin: 30px 0 60px;
    }
}

@media screen and (max-width: 1024px) {
    .dishes{
        padding: 80px 0;
        &__text {
            margin: 30px 0 48px;
            font-size: 0.6818rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .dishes{
        padding: 70px 24px 70px 52px;
        &__text {
            margin: 20px 0 58px;
            font-size:0.9091rem;
        }
    }
}

@media screen and (max-width: 678px) {
    .dishes{
        padding: 60px 12px 60px 40px;
    }
}    