@mixin h2-title {
    font-size: 1.8182rem;
    font-weight: 600;
}

@mixin paragraph-style($max-width) {
    font-size: 1.3636rem;
    margin: 0 auto;
    max-width: $max-width; 
}

@mixin paragraph-style1024($max-width) {
    font-size: 1rem;
    margin: 0 auto;
    max-width: $max-width; 
}

@mixin paragraph-style768($max-width) {
    font-size: 0.9091rem;
    margin: 0 auto;
    max-width: $max-width; 
}

@mixin paragraph-style600($max-width) {
    font-size: 0.8182rem;
    margin: 0 auto;
    max-width: $max-width; 
}

@mixin paragraph-style450($max-width) {
    font-size: 0.7273rem;
    margin: 0 auto;
    max-width:$max-width; 
}


@mixin offer($content, $background-color) {
    color: $text-color1;
    font-size: 0.8182rem;
    font-weight: 600;
    width: 58px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: -29px;
    left: -29px;
    content: $content;
    background-color: $background-color;
}

@mixin offer1250 {
    font-size: 0.5455rem;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: -20px;
    left: -20px;  
}

@mixin offer1024 {
    width: 46px;
    height: 46px;
    line-height: 46px;
    top: -23px;
    left: -23px;  
}

@mixin offer768 {
    font-size: 0.8182rem;
    width: 56px;
    height: 56px;
    line-height: 56px;
    top: -28px;
    left: -28px;
} 


@mixin buttons($color, $border-color) {    
    font-size: 0.9091rem;
    font-weight: 600;
    color: $color;
    border-radius: 30px; 
    border: 2px solid $border-color; 
    display: block;
    width: 312px;
    height: 60px;
    line-height: 57px;
    transition: all .8s;
}

@mixin h-buttons {
    background-color:$button-hover-color;
    border-color: $button-hover-color; 
    color: $text-color1;   
}

@mixin botton-size-1024 {
    width: 248px;
    height: 48px;
    line-height: 45px;    
}

