$text-color1: #FFFFFF;
$text-color2: #000000;
$text-color3: #474747;
$bg-primary-color: #F3F7EA;
$bg-secondary-color: #262626;
$button-hover-color: #FFA60D;
$font-family: 'Source Serif Pro', Arial, Helvetica, sans-serif;